@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;	
	font-family: 'Montserrat', sans-serif;
}
#side-panel{
	position: absolute;
	left: 0px;
	height: 100%;
	width: 0px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	transition: all .5s;
}
.logo{
    width: 100%;
    height: 100px;
    padding: 40px 0 40px 68px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #4d9db8;
	font-size: 18px;
    color: #fff;  
    white-space: nowrap;
}
.logo img{
	position: absolute;
	margin: -6px 0 0 -50px;
}

.navigation{
    width: 240px;
    height: 100%;
    background: #2185a6;
    box-sizing: border-box;
   	-moz-box-sizing: border-box;  
    -webkit-transition:  all 0.5s ease-in-out;
    -moz-transition:   all 0.5s ease-in-out;
    -ms-transition:   all 0.5s ease-in-out;
    -o-transition:   all 0.5s ease-in-out;
    transition:   all 0.5s ease-in-out;

}
.navigation li{
	color: #bddbe4;
	text-transform: uppercase;
}
.navigation a{
    display: block;
	padding: 26px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #bddbe4;
	transition: all .5s;
}
.navigation a:hover{
	color: #fff;
}
.active a{
	color: #fff;
	border-left: 2px solid #fff;
}

.navigation a div{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	margin-bottom: -5px;
	background-position: center;
	background-repeat: no-repeat;
}
#user-list{
	background-image: url(../img/user-list.png);
}
#daily{
	background-image: url(../img/daily.png);
}
#brainstorm{
	background-image: url(../img/brainstorm.png);
}
#course{
	background-image: url(../img/course.png);
}
#leveling-system{
	background-image: url(../img/leveling-system.png);
}
#live-streams{
	background-image: url(../img/live-streams.png);
}
#advanced{
	background-image: url(../img/advanced.png);
}
#video-analytics{
	background-image: url(../img/video-analytics.png);
}

#main{
	width: 100%;
	transition: all .5s;
}
#head-user-list{
	min-width: 1050px;
}
header{
	width: 100%;
	height: 100px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    padding:30px 25px;
    background-color: #feb31c;
}

#sidebar-toggle{
	display: block;
	float: left;
	padding: 12px 0;
	cursor: pointer;
}
#sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 4px;
    height: 2px;
    background-color: #242430;
    border-radius: 1px;   


}
#sidebar-toggle .bar:last-child{
     margin-bottom: 0;   
}
.current-content{
	display: block;
	float: left;
	margin-left: 46px;
	font-size: 14px;
	padding: 0;
}
.current-content p{
	font-weight: bold;
	font-size: 22px;
}
#head-user-list form{
	position: relative;
	display: block;
	height: 100%;
	float:left;
}
#search{
	display: inline-block;
	padding: 10px 40px;
	margin-left: 244px;
	background: url(../img/search.png) no-repeat 12px 9px #feca61;
	outline: none;
	border:none;
	border-radius: 5px;
}
#tab-filter{
	display: inline-block;
	margin-left: 127px;
	padding: 11px 11px 9px 11px;
	border-radius: 4px;
	border:1px solid #c59b46;
	background-color: #fff;
	color: #fec76d;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	outline: 0;
}
#tab-filter:active{
	background-color: #fec76d;
	color: #fff;
}
#list{
	display: inline-block;
	height: 100%;
	width: 135px;
	margin-left: 33px;
	padding: 0px;
    border: 0;
    background: url(../img/arrow.png) no-repeat right #feb31c;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    background-position-x: 120px;
	cursor: pointer;
	outline: 0;
}
#list option{
	border:none;
}
#section-user-list{
	position: relative;
	width: 100%;
	min-width: 1000px;
	box-sizing: border-box;
	padding: 30px;
	background-color: #f4f4f4;
}
#section-user-list table{
	 border-collapse: collapse;
	 width: 100%;
	 background-color: #fff;
	 border-radius: 4px;

}
#section-user-list th{
	padding: 15px 30px;
	text-align: left;
	color: #feb31c;
	border:1px solid #f2f2f3;
}
#section-user-list td{
	padding: 30px 25px;
	border:1px solid #f2f2f3;
	color: #a2a2a6;
}
.main-cont{
	color: #363640;
	font-weight: bold;
}
#section-user-list tr:nth-child(2n){
	background-color: #fcfcfc;
}
.show-more{
	display: block;
	width: 100%;
	padding: 20px 0;
	margin-top: 10px;
	border:1px solid #f2f2f3;
	background-color: #fcfcfc;
	color: #feb31c;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}



#popup{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
#popup section{
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -442px;
	margin-top: -255px;
	width: 885px;
	height: 500px;
}


.popup-head{
	width: 100%;
	height: 84px;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
}
.current-user{
	display: block;
	float: left;
	margin: 20px 15px;
	font-size: 14px;
	padding: 0;
}
.current-user p{
	font-size: 22px;
	color: #feb31c;
	font-size: 18px;
	text-transform: uppercase;
}
#cross{
	float:right;
	margin: 27px 35px;
	font-size: 30px;
	color: #b5b5b8;
	cursor: pointer;
}


.popup-form{
	width: 100%;
	height: 415px;
	padding: 20px 15px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	background-color: #f4f4f4;
	border-radius: 0 0 5px 5px;
}
.popup-form label{
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	padding-bottom: 10px;	
}
.popup-form input, .popup-form select{
	display: block;
	width: 100%;
	padding: 15px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	border-radius:5px;
	border:1px solid #e3e3e9;
}
.popup-form select{
	background: url(../img/arrow.png) no-repeat 170px 20px #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.popup-form .wide-input{
	float: left;
	display: inline-block;
	width: 50%;
	padding: 10px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;

}
.popup-form .thin-input{
	float: left;
	display: inline-block;
	width: 25%;
	padding: 10px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}
.sub{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px 25px;
	font-size: 15px;
}
.sub span{
	color: #feb31c;
	font-weight: bold;
}
.popup-form button{
	display: inline-block;
	float: right;
	min-width: 100px;
	padding: 12px 10px 10px 10px;
	margin: 30px 20px 0 0;
	text-transform: uppercase;
	border-radius: 5px;
	border: 0;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	outline: 0;
}
#save{
	border: 1px solid #61a970;
	background-color: #00C778;
}
#save:hover{
	background-color: #00AB67;
	color: #eee;
}
#reset-pass, #revoke-acc{
	border: 1px solid #838383;
	background-color: #c8c8c8;
}
#reset-pass:hover, #revoke-acc:hover{
	background-color: #BBB;
}








@media screen and (max-width: 1350px){
#search{
	margin-left: 50px;
}
#tab-filter{
	margin-left: 50px;
}

}




@media screen and (max-width: 900px){
	#popup section{
		margin-left: -322px;
		width: 650px;
	}
	.sub{
		display: block;
		position: relative;
		font-size: 13px;
	}
}