@font-face {
  font-family: "Ikaros";
  src: url(../fonts/Ikaros-Light.otf);
}
@font-face {
  font-family: 'Museo Sans';
  src: url(../fonts/MuseoSans-500.otf);
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
